body{

    background-image: url(assets/Images/bf46a82c-3b9b-4f44-a1e6-70450dbd16d3_1920x1080.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

div, form {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

form {
    padding: 2em;
}

.color-formulario {
    background-color: whitesmoke;
}

h1, h2 {
    font-size: xx-large;
}

p, li {
    font-size: 1.2em;
}

.collection-item {
    line-height: 2em !important;
}

.color-carrito {
    background-color: aliceblue;
}

.fondo-inputs {
    background-color: aquamarine !important;
}

.alumnos_ya_cargados
{

    padding-left: 90px;

}

.vista_de_alumnos
{
    padding-left: 90px;
    border: 2px solid black;
    background: white;
}

footer {
    background-color: #353b48;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-areas: "footer";
    gap: 1rem;
    padding: 0px 0px;
    background-size: cover;
    
}

.container-footer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    font-size: 2rem;
   
}

.box-footer{

    display: flex;
    flex-direction: column;
    padding: 40px;

}

.box-footer h2{

    margin-bottom: 30px;
    color: aliceblue;
    font-weight: 700;
}

.box-footer a{

    margin-top: 10px;
    color: aliceblue;
    font-weight: 600;
}

.box-footer a:hover{

    font-size: 0.8;

}

.box-copyright{

    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyright p{

    margin-top: 20px;
    color: antiquewhite;
    
}

.box-copyright hr{

    border: none;
    height: 1px;

}

.imgIg {
    height: 30px;
    width: 40px;
}

.imgTw {
    height: 30px;
    width: 30px;
}

.imgGm {
    height: 30px;
    width: 30px;
}



.field {
    margin-bottom: 18px;
    padding-left: 600px;
  }
  
  @media all and (max-width: 769px) {
  
    .field {
        
        padding-left: 100px;
      }

}


  .field label {
    display: block;
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  

  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
  }

